<%- include('./partials/header.ejs') %>
<body>
<div class="section">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h4>Runnnn</h4>
        </div>
    </div>
</div>   
</body>
<%- include('./partials/footer.ejs') %>

